/// Default color variables

$accent-color: #ff00b5;
$heading-color: #333334;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Raleway', sans-serif;
$text-font: 'Open Sans', sans-serif;
